/*STANDARD FONTS*/
@font-face {
    font-family: 'monreg';
    src: url('../fonts/monserrat/reg/montserrat-regular-webfont.eot');
    src: url('../fonts/monserrat/reg/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monserrat/reg/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/monserrat/reg/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/monserrat/reg/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monbold';
    src: url('../fonts/monserrat/bold/montserrat-bold-webfont.eot');
    src: url('../fonts/monserrat/bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monserrat/bold/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/monserrat/bold/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/monserrat/bold/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*FONTS*/
*{
  -webkit-font-smoothing: antialiased !important;
}
body{
	font-family:monreg;
    font-weight:normal;
}
/***STANDARDS,HELPERS,OVERRIDES***/
.container-fluid{
    position:relative;
}
h3.lead{
    font-size:22px;
    color:#008995;
}
.panel,.panel > *{
	border-radius: 0;
}
.panel-default > .panel-heading{
	background:#ce1302;
	border:0;
	color:#fff;
	font-size:16px;
    text-transform:uppercase;
    margin-bottom:0;
}
.panel-list{
    border-bottom:1px solid #d6d6d6;
    padding:10px 0;
}
.panel-list:first-child{
    padding-top:0;
}
.panel-list  p{
    margin-bottom:5px;
    line-height:100%;
}
.panel-list  a{
    color:#ce1302;
    font-size:10px;
}
.panel-list .cname{
    color:#008995;
    font-size:16px;
}
.panel-list .job-details{
    font-size:13px;
    color:#4a4a4a
}
.panel-soc{
    padding-bottom:20px;
}
.panel-soc  > div{
    padding:10px;
    border-bottom:1px solid #D6D6D6;
}
.panel-soc  > div:nth-child(odd){
    border-right:1px solid #D6D6D6
}
.panel-soc  > div  >a{
    background:url(../img/socbig.png) no-repeat;
    width:36px;
    height:36px;
    padding-left:40px;
    color:#000;
    display:inline-block;
    line-height:36px;  
}
.panel-soc  > div  >a.fb{
   background-position: 0px 0px;
}
.panel-soc  > div  >a.yt{
   background-position: 0px -46px;
}
.panel-soc  > div  >a.insta{
   background-position: 0px -92px
}
.panel-soc  > div  >a.linkin{
   background-position: 0px -138px;
}
.box{
	border:1px solid #dedede;
	padding:25px;
	background-color:#fff;
	margin-bottom:20px;
}
.articles h2{
	color:#ce1302;
	border-bottom:6px solid #ce1302;
	padding: 5px 0;
	font-size:14px;
	margin:0 0 10px 0;
	text-transform:uppercase;
}
.linkgreen{
	color:#008995;
}
.btn{
	border-radius: 0 !important;
	border:none;
}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
	background:#e3d08c;
	color:#000;
	text-transform:uppercase;
	font-size:18px;
}
.navbar-default{
    border-radius:0;
    border:none;
    background:#ce1302
}
.navbar-default .navbar-collapse,
.navbar-secondary .navbar-collapse{
	padding:0;
}
.navbar{
    margin:0;
    min-height:30px;
}
.navbar-nav > li{
    padding:0 5px;
    min-height:30px;
    line-height:30px;
}
.navbar-nav > li > a{
    border-right:1px solid #fff;
    padding:0 10px 0 0;
    font:normal 12px/1em helvetica;
    display:inline-block;
}
.navbar-default .navbar-nav > li > a{
	 color:#fff;
     transition:color 0.5s ease 0s;
     -moz-transition:color 0.5s ease 0s;
     -webkit-transition:color 0.5s ease 0s;
}

.navbar-default .navbar-nav > li > a:hover{
    color:#000000;
}
.navbar-nav > li:last-child > a,.navbar-right > li > a{
    border:none;
    padding:0;
}.navbar-nav > li:last-child{
	*padding-right:0;	
}
.navbar-nav.navbar-right:last-child{
    margin-right:0;
}
.navbar-text{
    margin:0;
    color:#fff !important;
    font:normal 12px helvetica;
    display:inline-block !important;
    float:none;
}
.open > a{
	background:none !important;
}
.dropdown-menu{
    transform: scaleY(0);    
    transform-origin: top;
    transition: opacity 0.26s ease, transform 0.26s ease;
    display:block;
    opacity:0;
}
li:hover >.dropdown-menu{
    transform: scaleY(1);
    opacity:1;
}
/****SECONDARY NAVIGATION******/
.navbar-secondary{
	background: #e3d08c;
	min-height:40px;
}
.navbar-secondary .navbar{
	min-height: 40px;
}
.navbar-secondary .navbar-nav > li{
    min-height:40px;
    line-height:40px;
	display: table-cell;
}
.navbar-secondary .navbar-nav > li > a{
	border:none;
	color:#000;
	font-size:14px;
}
.navbar-secondary .navbar-nav > li > a:hover{
    color:#008995 !important;
}
.navbar-secondary .navbar-right > li > a{
	background: url(../img/soc.png) no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.navbar-secondary .navbar-right > li.fb > a{
	background-position: 0px 0px;
}
.navbar-secondary .navbar-right > li.yt > a{
	background-position: 0px -34px;
}
.navbar-secondary .navbar-right > li.insta > a{
	background-position: 0px -68px;
}
.navbar-secondary .navbar-right > li.more > a{
	background-position: 0px -102px;
}
/*HEADER*/
.mainheader{
	min-height:100px;
    background-color: #00535a; 
    background-image: -webkit-linear-gradient(bottom, #00535a, #009eab);
    background-image: -moz-linear-gradient(bottom, #00535a, #009eab);
    background-image: -o-linear-gradient(bottom, #00535a, #009eab);
    background-image: linear-gradient(to top, #00535a, #009eab);
}
.mainheader .container,.mainheader .container-fluid{
	position: relative;
	height: 100px;
}
.brandgroup{
	position:absolute;
	top:10%;
	left: 20px;
	margin:0 auto;
	width: auto;
	display: table-cell;
}
.brandgroup >.logo{
	background:url(../img/sjcs.png) no-repeat 0 0/contain;
	display:inline-block;
	width:70px;
	height: 70px;
	vertical-align: middle;
}
.brandgroup > h1{
	color:#fff;
	font-size:28px;
	text-transform: uppercase;
	display:inline-block;
	vertical-align: middle;
	margin:0;
}
.mainheader .form-group{
	position: absolute;
	right:20px;
	top:30%;
	margin:0;
	overflow:hidden;
	width:30%;
	max-width:260px;
	text-align: right;
}
.mainheader .form-group button{
	color:#ce1302;
    background:#fff;
	border:none;
	float:left;
	height: 30px;
	width:10%;
}
.mainheader .form-group input{
	float: left;
	border:none;
    height: 30px;
	width:90%;
	padding-left:10px;
}
/****MAIN CONTENT****/
.maincontent{
	background:url(../img/bgfirst.jpg) no-repeat right -100px;
	position: relative;
	padding-top:10px;
    overflow:hidden
}
.maincontent:before{
    content:'';
    padding:100px;
	position: absolute;
	left:0;
	top:550px;
	content:" ";
	width:100%;
	height:2000px;
    background:url(../img/patt.jpg) repeat;
}
/***HOMEPAGE***/
.carousel-inner > .item img{
    width:100%;
    height:auto;
}
.featured-article{
	position:relative;
	padding-bottom: 90px;
}
.featured-article .description{
	position: relative;
}
.featured-article .description > p{
	width:58%;
	padding:20px;
	background:#008995;
	color:#fff;
	font-size:26px;
	float:left;
	margin: -30px 0 0 20px; 
}
.featured-article .description > div{
	width:35%;
	float:right;
	padding:5px;
}
.featured-article .description > div p{
	border-bottom:1px solid #000;
	font-size:13px;
}
.featured-article .description > div a{
	font-size:16px;
	text-transform: uppercase;
	color:#ce1302
}
.featured-article .description > div a:after{
	content:'\25B6';
    color:#ce1302;
	padding-left:5px;
}
.feed p{
	margin: 0;
}
.feed{
	position:relative;
}
.feed:before{
	content:"NEWS FEED";
	padding:10px;
	background:#ce1302;
	color:#fff;
	position:absolute;
	left: 0;
	top:-40px;
	display: block;
}
.articles .col-sm-4 img{
	border:1px solid #dbdbdb;
    width:100%;
    height:auto;
    max-width:200px;
    max-height:200px;
}
.articles a{
	color: #008995;
	font-size:14px;
	display: block;
	padding:10px 0;
}
.articles p{
	font-size:12px;
}
.donate{
	background-color: #008995;
	padding:30px;
	color:#fff;
	font-size:26px;
}
.donate p{
	line-height: 100%;
}
.ads a{
	text-align: center;
	color:#4a4a4a;
	padding-top:10px;
	display: block;
}
.ads img{
    width:100%;
}
.pres-bio{
	overflow: hidden;
	margin-top:20px;
}
.pres-bio div:first-child{
    width:35%;
    margin-right:5px;
}
.pres-bio div:last-child{
    width:60%;'
}
.pres-bio .lead{
	color:#008995;
	margin-bottom:10px;
	line-height:100%;
}
.pres-bio > .pull-right{
	width:60%;
}
/**ABOUT PAGE**/
.nav-in-content{
    background:#f6f6f6;
    padding:20px;
    width:260px;
}
.nav-in-content > a{
    display:block;
    font-size:12px;
    color:#000;
    border-bottom:1px solid #D6D6D6;
}
.nav-in-content > a:hover,
.nav-in-content > a.current{
    color:#ce1302;
    text-decoration:none;
}
/**CONTACT**/
.contact-form .seal{
     margin-bottom:50px
}
.contact-form label{
    font-size:14px;
    font-weight:normal;
    text-transform:uppercase;
}
.contact-form input{
    border-radius:0;
    transition:background 0.5s ease 0s !important;
    -moz-transition:background 0.5s ease 0s  !important;
    -webkit-transition:background 0.5s ease 0s  !important;
}
.contact-form input:focus{
    background-color:#ecefef;
}
.contact-form .btn-submit{
    background:#ce1302;
    padding:20px;
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
}
.paging{
    width:100%;
    margin-top:0;
    overflow:hidden;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    margin-bottom: 20px;
}
.paging > *{
    display:inline-block;
}
.paging > a{
    padding:20px 0;
    height:100%;
    background:#ce1302;
    width:13%;
    text-align:center;
    color:#fff;
    font-size:12px;
}
.paging ul{
    width:73%;
    text-align:center;
    margin:0;
    padding:0;
}
.paging ul li{
    display:inline-block;
    padding:10px 0;
}
.paging ul li a{
    display:block;
    padding:10px;
    color:#000;
    font-size:12px;
    transition:background 0.3s ease 0s;
    -moz-transition:background 0.3s ease 0s;
    -webkit-transition:background 0.3s ease 0s;
}
.paging ul li a:hover,
.paging ul li.active a{
    background:#ce1302;
    color:#fff;
}
/**FOOTER**/
footer{
    background:#008995;
    padding:20px 0;
    font-size:10px;
}
footer *:not(.lead){
    color:#fff;
}
footer .row > div:not(:last-child){
    border-right:1px solid #33a1aa;
    min-height:250px;
}
footer .brandgroup{
    display: block;
    margin-bottom:20px;
    overflow: hidden;
    position: static;
}
footer .brandgroup > a.logo{
    width:11%;
    margin-right:15px;
    float:left;
}
footer .brandgroup > h1{
    width:80%;
    font-size:22px;
}
footer p.lead{
    color:#bfbfbf;
    margin-bottom:10px;
    font-size:14px;
}
@media only screen and (max-width: 1024px) {
	.brandgroup > h1{
		font-size:20px;
	}
    .pres-bio .lead{
        font-size:90%;
    }
     footer .row > div{
        border:none;
    }
}
@media only screen and (max-width: 768px) {
	/***PRIMARY NAV***/
	.navbar-default .navbar-collapse,
	.navbar-secondary .navbar-collapse{
		padding:15px;
	}
    .navbar-nav > li > a{
        border:none;
        display:block;
		line-height:30px;
    }
    .dropdown-menu{
        transform:none;
        display:none;
        opacity:1;
    }
    li:hover >.dropdown-menu{
        transform:none;
    }
	/***SEC NAV***/
	.navbar-secondary .navbar-nav > li{
		display:block;
	}
	.navbar-secondary .navbar-right > li{
		display: inline-block;
	}
	.brandgroup > h1{
		display: none;
	}
	.mainheader .form-group{
        right:5px;
        width:55%;
    }
	/**HOMEPAGE**/
	.featured-article .description > p,.featured-article .description > div{
		font-size:80%;
		margin:5px 0 0 0;
		width:50%;
	}
    .panel-soc  > div:nth-child(odd){
        border-right:none;
    }
	 footer .brandgroup > h1{
        display:inline;
        padding-top:10px;
        font-size:1.2em;
    }
    footer .row > div:not(:last-child){
        border:0 !important;
        min-height:0;
    }
}